---
---

.group {
    border: 2px dashed;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.group .header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.group .footing {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

.contact-box {
    position: relative;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ffc95c;
    border-radius: 10px;
    background-color: transparent;
    color: #ffc95c;
    overflow: scroll;
    white-space: nowrap;
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media print {
    .contact-box {
        position: relative;
        padding: 10px;
        margin: 5px;
        border: 2px solid #000;
        border-radius: 10px;
        color: #000;
        overflow: hidden;
        background-color: #fff;
    }

    .navbar-fixed {
        display: none;
    }
    
    .card-panel {
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none; 
    }

    .pagebreak { page-break-before: always; } /* page-break-after works, as well */

    .footer {
        display: none;
    }

    body {
        font-size: 70%;
    }

    html {
        background: #fff !important;
    }
    
    a {
        color: #000 !important;
    }
}

.knowledge {
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    margin: 5px;
    border: 2px solid #ffc95c;
    border-radius: 10px;
    background-color: transparent;
    color: #ffc95c;
    overflow: hidden;
}

.skillbar {
    position: absolute;
    background-color: #ffc95c;
    padding-left: 10px;
    content: "";
    bottom: 0;
    right: 0;
    -webkit-print-color-adjust: exact;
}

@media print {
    .knowledge {
        position: relative;
        display: inline-block;
        padding: 10px;
        padding-right: 20px;
        margin: 5px;
        border: 2px solid #000;
        border-radius: 10px;
        color: #000;
        overflow: hidden;
        background-color: #fff;
    }

    .skillbar {
        position: absolute;
        background-color:black;
        padding-left: 10px;
        content: "";
        bottom: 0;
        right: 0;
        -webkit-print-color-adjust: exact;
    }
}

.basic {
    @extend .knowledge;
}

.basic::after {
    @extend .skillbar;
    height: 33%;
}

.advanced {
    @extend .knowledge;
}

.advanced::after {
    @extend .skillbar;
    height: 67%;
}

.proficient {
    @extend .knowledge;
}

.proficient::after {
    @extend .skillbar;
    height: 100%;
}

.project-source {
    white-space: nowrap;
    overflow: scroll;
    margin-left: 10px;
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
